body {
  overflow:none;
}

.container {
  display:flex;
  justify-content: space-between;
  height:100vh;
}

.content, .navbar{
  height:100%;
  padding:10px;
}

.content {
  flex:1;
  background-color: black;
}

.content_box {
  background-color: #181414;
  border-radius: 10px;
  padding: 10px;
}

.musicbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  flex: 0 0 300px;
  background-color: black;
}

.top_nav {
  border-radius: 10px;
  padding:10px;
  background-color: #181414;
}

.nav_name {
  font-weight: bold;
}

.header {
  font-weight: bold;
}
.header_welcome {
  font-weight: bold;
  font-size: 40px;
}

.navLinker {
  padding-left: 10px;
}

/* start links */
.link, .link:visited {
  color:#a7a7a7;
  text-decoration: none;
}

.link:hover {
  color: #6504C5;
}
/* end links */

.mp_static {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.mp_details {
  font-size: 12px;
}

.player_details {
  display: flex;
  align-items: center;
  width: 150px;
}

.player_only {
  width: 80%;
  font-size: 10px;
}

.login > input {
  padding: 10px;
  margin-top: 5px;
  width: 200px; 
}

ol {
  padding:10px;
  font-size: 14px;
}

.player_text {
  font-size: 10px;
}

.playlist_track {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  background-color:181414;
}

.center {
  display:flex;
  align-items: center;
}

.left {
  display:flex;
  align-items: center;
  margin-left: 10px;
}

.right {
  display:flex;
  align-items: center;
  margin-right: 10px;
}

.playlist_track:hover {
  background-color: rgba(255, 255, 255, 0.13);
  transition-duration: .2s;
}

.playlist_song {
  text-decoration: none;
  margin-left: 20px;
}

.album_covermp {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
  padding: 5px;
}

.album_cover {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
  padding: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 253, 253);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* body{
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; */
/* } */
.container-login {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5b4caf;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #490957;
}
.login-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}
.login-link:hover {
  text-decoration: underline;
}